// block constructor
.flx
  position relative
  display flex
  box-sizing border-box

  &--row
    flex-flow row wrap

  &--col
    flex-flow column wrap

  $size =  25
          ,50
          ,75
          ,100

  for i in $size
    &--{i}
      size(i + '%', auto)


  $cases = '1-1' flex-start flex-start
          ,'1-2' flex-start center
          ,'1-3' flex-start flex-end
          ,'1-13' flex-start stretch

          ,'2-1' center flex-start
          ,'2-2' center center
          ,'2-3' center flex-end
          ,'2-13' center stretch

          ,'3-1' flex-end flex-start
          ,'3-2' flex-end center
          ,'3-3' flex-end flex-end
          ,'3-13' flex-end stretch

          ,'13-1' space-between flex-start
          ,'13-2' space-between center
          ,'13-3' space-between flex-end
          ,'13-13' space-between stretch

  for i in $cases
    &--{unquote(i[0])}
      justify-content i[1]
      align-items i[2]
