
$global = {
  color: {
    white: #fff
    black: #000
    red-orange: #F33D37
    ebony: #2A313D
    bunker: #212429
    tuna: #484D57
    solitude: #EBEDF0
    solitude-2: #F0F2F5
    m-green: #27CC78
    s-sky: #3995E6
    vulcan: #343840
    alice-blue: #F6F7F9
    manatee: #868B96
    h-blue: #DCDFE6
    h2-blue: #D8DCE5
    dog-blue: #3293E9
    mischka: #ACB1BD
    coral-red: #F03F3E
    bah-blue: #2A5780
    facebook: #314A7F
    twitter: #1CA2F3
    instagram: #D22479
    google: #CC3732
    linkedin: #0077B5
  }
}