.main
  flex-mix(row wrap, space-around)

  &__title
    margin 0

.menu-list
  margin 0
  padding 0
  size(100%, auto)
  flex-mix(row wrap, flex-start)

  &__item
    margin 10px
    padding 0
    size(200px)
    flex-mix()
    background-color: $global.color.s-sky
    box-sizing border-box
    cursor pointer
